@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif; 
}

body {
    height: 100vh;
    align-items: center;
    background: url(../img/banner1.jpeg);
    background: linear-gradient(rgba(0, 0, 0, 0.829),rgb(0,0,0,0.829)), url(../img/banner1.jpeg);
    background-size: cover;
    background-position: center;
}
.left, .right {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fdfdfd;
    position: relative;
}

.left {
    background-color: transparent;
}

.right {
    background-color: transparent;
}

.glass {
    background: rgba(7, 7, 7, 0.788);
    padding: 30px;
    border-radius: 10px;
    backdrop-filter: blur(3px);
    width: 100%;
    max-width: 500px;
    box-shadow: 0 0px  20px rgba(3, 3, 3, 0.322);
}




h2 {
    margin-bottom: 20px;
    font-size: 1.8rem;
    text-align: center;
}

/* Caixas de formulario */
.input-box {
    position: relative;
    margin-bottom: 20px;
}

.input-box input {
    width: 100%;
    padding: 10px 40px;
    border-radius: 30px;
    border: none;
    outline: none;
    font-size: 1rem;
    margin: 5px;
}

.input-box i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #555;
}

/* Mostra e esconde senha */
.toggle-password {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #555;
    cursor: pointer;
}

.toggle-password:hover {
    color: #333;
}

/* Personaliza o fundo e borda do dropdown */
.custom-dropdown {
    background-color: #021526 !important;
    border: none;
    padding: 0;
}

/* Estiliza os itens do dropdown com a fonte e remove borda */
.custom-dropdown .dropdown-item {
    color: white;
    padding: 10px 20px;
}

/* Aplica a classe a-btn, se necessário ajustar mais */
.custom-dropdown .dropdown-item.a-btn {
    font-family: inherit; /* ou sua fonte customizada */
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Hover */
.custom-dropdown .dropdown-item:hover {
    background-color: #032037;
}
